<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>HaikuBot Loves You.</title>
  <link href="css/style.css" rel="stylesheet" />
</head>
<body>
  <%= yield %>
</body>
</html>

