<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>HaikuBot loves you. He's from the future.</title>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
  <link href="css/style.css" rel="stylesheet" />
</head>
<body>
  <div id="container">
    <h1>HaikuBot says:</h1>

    <%= yield %>
  </div> <!-- container -->
</body>
</html>

